.timeline {
    list-style: none;
    position: relative;
    padding: 20px 0px;
}
.timeline::before {
    top: 0px;
    bottom: 0px;
    position: absolute;
    content: " ";
    width: 3px;
    left: 50%;
    margin-left: -1.5px;
    background-color: #F1780D;
}
.timeline > li {
    margin-bottom: 20px;
    position: relative;
}
.timeline > li::before,
.timeline > li::after {
    content: " ";
    display: table;
}
.timeline > li::after {
    clear: both;
}
.timeline > li::before,
.timeline > li::after {
    content: " ";
    display: table;
}
.timeline > li::after {
    clear: both;
}
.timeline > li > .timeline-panel {
    width: 35%;
    float: left;
    border: 1.7px solid rgb(212, 212, 212);
    border-radius: 8px;
    padding: 20px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.172549) 0px 1px 6px;
}
.timeline > li > .timeline-panel::before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-width: 15px 0px 15px 15px;
    border-style: solid;
    border-color: transparent rgb(204, 204, 204);
    content: " ";
}
.timeline > li > .timeline-panel::after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-width: 14px 0px 14px 14px;
    border-style: solid;
    border-color: transparent rgb(255, 255, 255);
    content: " ";
}
.timeline > li > .timeline-badge {
    width: 85px;
    height: 85px;
    line-height: 1;
    padding-top: 20px;
    font-size: 1.2rem;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -40px;
    z-index: 100;
    border-radius: 50%;
    border: 1.5px solid rgb(162, 162, 162);
    color: rgb(255, 255, 255);
    background-color: rgb(231, 76, 60);
}
.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
}
.timeline > li.timeline-inverted > .timeline-panel::before {
    border-left-width: 0px;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel::after {
    border-left-width: 0px;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}
.timeline-badge.primary {
    background-color: rgb(46, 109, 164) !important;
}
.timeline-badge.success {
    background-color: rgb(63, 144, 63) !important;
}
.timeline-badge.danger {
    background-color: rgb(231, 76, 60) !important;
}
.timeline-badge.success1 {
    background-color: #1abc9c !important;
}
.timeline-badge.warning {
    background-color: rgb(240, 173, 78) !important;
}
.timeline-badge.info {
    background-color: rgb(91, 192, 222) !important;
}
.timeline-badge.warning1 {
    background-color: #e67e22 !important;
}
.timeline-badge.info1 {
    background: #9b59b6 !important;
}
.timeline-panel.primary {
    background-color: rgb(46, 109, 164) !important;
}
.timeline-panel.success {
    background-color: rgb(63, 144, 63) !important;
}
.timeline-panel.success1 {
    background-color: #1abc9c !important;
}
.timeline-panel.warning {
    background-color: rgb(240, 173, 78) !important;
}
.timeline-panel.warning1 {
    background-color: #e67e22 !important;
}
.timeline-panel.danger {
    background-color: rgb(231, 76, 60) !important;
}
.timeline-panel.info {
    background-color: rgb(91, 192, 222) !important;
}
.timeline-panel.info1 {
    background: #9b59b6 !important;
}
.timeline-title {
    padding: 15px;
    margin: 0px;
    color: rgb(247, 247, 249);
    border-radius: 6px 6px 0px 0px;
    position: relative;
}
.timeline-body > p,
.timeline-body > ul {
    padding: 20px;
    margin: 0px;
    font-size: 1rem;
    color: rgb(101, 101, 101);
    border-radius: 6px;
    border: 1.5px solid rgb(212, 212, 212);
    background: rgb(255, 255, 255);
}
.timeline-body > p + p {
    margin-top: 5px;
}
.internas .timeline .timeline-badge span.date span.day {
    font-size: 0.9rem;
}
.internas .timeline .timeline-badge .date {
    display: flex;
    flex-direction: column;
}
