/node_modules
/videos
/public/images
/public/videos
/public/css
/public/js
/public/fonts

/public/images/bodegas
/public/images/portada
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
public/dist/images
resources
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.editorconfig
.env
.vscode
*.sql
bundle.js
fondo-grande.jpg
fondo-principal.jpg
seccion-grande.jpg
seccion.jpg
style.css.map
bundle.js.map
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN
sourcemaps
BackTurismo
index.js
public/dist/videos/
phpcs.xml
public/dist/bg1.jpg
PrettierPHPFixer.php
