/node_modules
/videos
/images
/public/videos
/public/images/bodegas
/public/images/portada
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.vscode
*.sql
bundle.js
package.json
package-lock.json
index.js
webpack.config.js
fondo-grande.jpg
fondo-principal.jpg
seccion-grande.jpg
seccion.jpg
